* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Misure container per le immagini delle foto */
.photo-container img {
    width: 100%;
    height: 100%;
}

/* Stile per le card delle foto */
.photo-card {
    position: relative;
    background-color: white;
    margin: 30px;
    padding: 15px 15px 20px 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

/* Stile per la puntina rossa */
.red-pin {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}

/* Stile per il titolo */
.title-header {
    font-family: "Edu TAS Beginner", cursive;
    padding: 30px 20px;
}

/* Stile per la data */
.photo-date {
    font-family: "Sometype Mono", cursive;
    padding: 10px 0px;
    margin-bottom: 0px;
}

/* Stile per il titolo della foto */
.photo-title {
    font-family: "Sometype Mono", cursive;
    padding: 0px;
    margin-top: 0px;
    font-weight: bold;
    font-size: x-large;
}

/* contenitore header */
.header-container {
    position: relative;
}

/* immagine sfondo header */
.header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* contenitore main */
.main-container {
    position: relative;
}

/* sfondo main */
.card-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}